<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Đăng Nhập| Online Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="../css/User.css">
    </head>
    <body>
        <div class="half" id="publicidade">
            <div class="fundo-cor"></div>
            <div class="fundo"></div>
			<div class="w-100 h-100 d-flex justify-content-center align-items-center p-5">
				<h1 class="hero-title text-white w-100 p-5">
					Welcome to the online </br><span>test system</span>
				</h1>
			</div>
        </div>
        <div class="half" id="wpLogin">
            <div class="flex-container-center">
                <div id="loginBox">
                    <div class="container p-3 text-center">
                        <div class="login-header flex-container-center">
                            <h4>Sign in or create an Account</h4>
                        </div>
                        <div class="mt-4 p-3">
                            <div class="row" ng-app="Login" ng-controller="myCtrl" ng-submit="checkform()">
                                <form action="" method="POST" class="input-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </span>
                                        </div>
                                        <input ng-model="Username" type="email" name="email" class="form-control" placeholder="E-mail">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </span>
                                        </div>
                                        <input ng-model="Userpass" type="password" name="senha" class="form-control" placeholder="Password">
                                    </div>
                                    <span class="text-danger mt-2">
                                        E-mail or password incorrect!
                                    </span>

                                </div>
                            </div>
                            <em class="text-muted">or sign in using:</em>
                            <div class="flex-container-center mt-1">
                                <div class="social-media facebook">
                                    <span class="fab fa-facebook"></span>
                                </div>
                                <div class="social-media google">
                                    <span class="fab fa-google"></span>
                                </div>
                                <div class="social-media linkedin">
                                    <span class="fab fa-linkedin"></span>
                                </div>
                                <div class="social-media microsoft">
                                    <span class="fab fa-microsoft"></span>
                                </div>
                            </div>

                            <input type="submit" class="btn-login my-3" value="ĐĂNG NHẬP">

                            <span class="text-muted">
                                Don't have an account? Click
                                <a href="register.html" id="linkCriarConta">here</a> to create one
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      		<script src="../js/ControllerLogin.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    </body>
</html>
